body {
	color: #f7f7f7;
	background-color: #141414;
}

#gameCanvas {
	background-color: #3d3d3d;
}


#tf-flappy-container {
	display: flex;
	flex-direction: column;
}

.element-container {
	margin: auto;
}